/* ===========================================================
   Base
   =========================================================== */

*, 
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box; }

body {
  overflow-x: hidden;
  font-family: "museo-sans", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 87.5%;
  line-height: 1.575;
  color: #575757; }

p {
  margin: 0 0 1.5em; }

img {
  display: block;
  max-width: 100%; }

a {
  cursor: pointer;
  color: #575757; }

a:hover {
  text-decoration: none;
  color: #77b81a; }

input[type=submit],
input[type=submit]:focus,
input[type=submit]:active {
  outline: none; }

/* ===========================================================
   Typography
   =========================================================== */

h1, h2, h3, h4, h5, h6 {
  margin-top: 0; }

h1 {
  margin-bottom: 20px;
  font-size: 3.1em;
  line-height: 1.2;
  font-family: 'Heebo', Helvetica, Arial, sans-serif;
  font-weight: 100; }

.subtitle {
  margin-top: 8px;
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 1.05em;
  line-height: 1.3;
  color: #77b81a; }

.text-green {
  color: #77b81a; }

/* ===========================================================
   Helpers
   =========================================================== */

.hide {
  display: none; }

.show {
  display: block; }

.pad-tb-1 { 
  padding-top: 90px;
  padding-bottom: 90px; }

.pad-lr-1 { 
  padding-left: 7.5%;
  padding-right: 7.5%; }

.mar-tb-1 { 
  margin-top: 90px;
  margin-bottom: 90px; }

.no-margin {
  margin: 0; }

.no-padding {
  padding: 0; }

.border-right-1 {
  border-right: 1px solid #dcdcdc; }

.border-left-1 {
  border-left: 1px solid #dcdcdc; }

.height-auto {  
  height: auto !important; }

.visible {
  opacity: 1 !important; }

.invisble {
  opacity: 0 !important; }

/* ===========================================================
   Header
   =========================================================== */

header {
  height: 75px;
  background: transparent;
  top: 0;
  z-index: 9999;
  position: fixed;
  width: 100%;
  transition: all ease .35s; }

header .nav-wrap {
  position: absolute;
  right: 0;
  top: 75px;
  right: 7.5%;
  z-index: 99999;
  transition: all ease .35s; }

header nav {
  text-align: right; }

header nav a {
  cursor: pointer;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  display: inline-block;
  margin-left: 35px;
  font-size: 1.1em;
  font-weight: 300;
  font-family: 'Heebo', Helvetica, Arial, sans-serif;
  border-bottom: 2px solid transparent;
  transition: all .2s ease; }

header nav a:hover {
  color: white;
  border-bottom: 2px solid white; }

.logo {
  left: 7.5%;
  position: absolute;
  z-index: 99999;
  top: 60px;
  transition: all ease .35s; }

.logo img {
  width: 200px; }

/* Mobile Nav */
.mobile-nav-wrap {
  position: absolute;
  right: 0;
  top: 75px;
  right: 7.5%;
  z-index: 99999;
  display: none; }

.mobile-nav-wrap #menuToggle {
  float: right;
  color: white;
  cursor: pointer;
  margin-bottom: 15px;
  text-align: right; }

.mobile-nav-wrap #menuToggle img {
  position: relative;
  z-index: 99999;
  top: -2px;
  width: 25px; }

.mobile-menu-height-open {
  height: 220px !important; }

.legal-page .mobile-menu-height-open {
  height: 235px !important; }

header .mobile-nav-wrap nav {
  transition: all ease .25s;
  opacity: 0;
  height: 0; }

.mobile-nav-wrap a {
  display: block; }

header .mobile-nav-wrap nav a {
  margin-bottom: 12px;
  border-bottom: none; }

header .mobile-nav-wrap nav a:hover {
  border-bottom: none; }

/* ===========================================================
   Layout
   =========================================================== */

section {
  position: relative;
  overflow: auto; }

.container {
  float: left;
  max-width: 2700px; }

.col { float: left; }

.col-25   { width: 25%; }
.col-35   { width: 35%; }
.col-425  { width: 42.5%; }
.col-50   { width: 50%; }
.col-575  { width: 57.5%; }
.col-65   { width: 65%; }
.col-100  { width: 100%; }

.mar-left-35 { margin-left: 35%; }

/* ===========================================================
   Theme
   =========================================================== */

.bg-dark {
  overflow: auto;
  background: #444444;
  color: #cacaca; }

.bg-dark h1 {
  color: white; }

/* About */
.about-text h1 {
  padding-bottom: 15px;
  margin-bottom: 15px; }

.about-bg {
  background: url('../img/about-block.jpg') no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0; }

/* Mission */
.mission-bg {
  background: url('../img/location-sketch.png') no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute;
  float: right;
  top: 0;
  bottom: 0;
  right: 0; }

.mission-bg:after {
  display: block;
  position: relative;
  background-image: linear-gradient(to bottom, #444 0%, transparent 100%);
  height: 300px;
  width: 100%;
  content: ''; }

/* Assets */
.assets h2 {
  font-family: 'Heebo', Helvetica, Arial, sans-serif;
  font-size: 2em;
  line-height: 1.3;
  font-weight: 100; }

.assets .state-choice-wrap {
  overflow: hidden;
  padding-bottom: 20px;
  font-size: 1.2em;
  font-weight: 700;
  margin-bottom: 35px; }

.assets .subtitle {
  margin-bottom: 5px; }

.assets .map-wrap {
  padding-left: 2%;
  padding-right: 7.5%; }

.assets .map-1 img {
  margin: 0 auto;
  width: 380px; }

.assets .map-2 img {
  margin: 0 auto;
  width: 100%; }

ul.state-choice-list{
  list-style: none;
  height: 100%;
  width: 100%;
  margin: 0 0 0;
  padding: 0; }

ul.state-choice-list li{
  display: block;
  position: relative;
  float: left;
  width: 100%;
  cursor: pointer;
  height: 40px; }

ul.state-choice-list li input[type=radio]{
  position: absolute;
  visibility: hidden; }

ul.state-choice-list li label{
  cursor: pointer !important;
  display: block;
  position: relative;
  font-weight: 700;
  font-size: 1.15em;
  padding: 17px 25px 25px 55px;
  margin: 10px auto;
  height: 20px;
  z-index: 9;
  cursor: pointer;
  -webkit-transition: all 0.2s ease; }

ul.state-choice-list li:hover label{
  color: #77b81a; }

ul.state-choice-list li .check{
  display: block;
  position: absolute;
  cursor: pointer;
  border: 3px solid #575757;
  border-radius: 100%;
  height: 25px;
  width: 25px;
  top: 30px;
  left: 20px;
  z-index: 5;
  transition: border .s ease;
  -webkit-transition: border .2s ease; }

ul.state-choice-list li:hover .check {
  border: 1px solid #7f7f7f; }

ul.state-choice-list li .check::before {
  display: block;
  position: absolute;
  content: '';
  border-radius: 100%;
  height: 15px;
  width: 15px;
  top: 4px;
  left: 4px;
  margin: auto;
  transition: background 0.2s ease;
  -webkit-transition: background 0.2s ease; }

.state-choice-list input[type=radio]:checked ~ .check {
  border: 1px solid #7f7f7f; }

.state-choice-list input[type=radio]:checked ~ .check::before{
  background: #77b81a; }

.state-choice-list input[type=radio]:checked ~ label{
  color: #77b81a; }

.state-content {
  overflow: auto; }

.state-content ul {
  margin: 0;
  padding: 0 0 30px 40px; }

.state-content h2 {
  margin-bottom: 15px; }

.dispensaries-block {
  margin-top: 15px;
  margin-bottom: 30px; }

.cultivate-block {
  margin-top: 15px; 
  margin-bottom: 30px; }

.cultivate-block img {
  height: 100px; }

/* Team */
.team-bg {
  background: url('../img/leaf-block.jpg') no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute;
  float: right;
  top: 0;
  bottom: 0;
  right: 0; }

/* Profiles */
.profile-block {
  cursor: pointer;
  position: relative; }

.profile-overlay {
  opacity: 0;
  transition: opacity ease .15s;
  position: absolute;
  background: rgba(0, 0, 0, .7);
  color: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 25px; }

.profile-block:hover .profile-overlay {
  opacity: 1; }

.profile-overlay-text {
  position: absolute;
  bottom: 40px; }

.profile-overlay-text .linkedin-logo {
  float: right;
  position: relative;
  top: 20px;
  cursor: pointer;
  transition: opacity ease .15s;
  width: 50px;
  opacity: .3; }

.profile-overlay-text .linkedin-logo:hover {
  opacity: .7; }

.profile-overlay-text h2.name {
  margin: 0 0 5px;
  color: #fff;
  font-family: 'Heebo', Helvetica, Arial, sans-serif;
  font-weight: 100;
  line-height: 1.05;
  font-size: 2.45em; }

.profile-overlay-text .title {
  font-weight: 700;
  font-size: 1em;
  line-height: 1.3;
  color: #77b81a; }

.profile-bio {
  font-weight: 300;
  font-family: 'museo-sans', Helvetica, Arial, sans-serif; }

.profile-bio h3 {
  font-family: 'Heebo', Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #77b81a;
  line-height: 1.2;
  padding-bottom: 8px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 15px;
  font-size: 2.1em; }

/* Current Openings */
table.srJobList {
  border-collapse: collapse !important; }

.srJobList .srJobListJobOdd *, 
.srJobList .srJobListJobEven * {
  position: relative !important;
  padding: 12px 100px 12px 18px !important;
  color: #575757 !important;
  border-collapse: separate !important;
  border-bottom: 1px solid #d7d7d7 !important;
  margin-bottom: 20px !important;
  font-family: 'museo-sans', Helvetica, Arial, sans-serif !important;
  font-size: 15px !important;
  font-weight: 300 !important; }

.srJobList .srJobListJobOdd *:hover, 
.srJobList .srJobListJobEven *:hover { 
  color: #fff !important; }

.srJobList .srJobListJobOdd *:hover:after, 
.srJobList .srJobListJobEven *:hover:after {
  content: '>';
  display: table-cell;
  vertical-align: middle;
  text-align: right; 
  padding: 5px 15px 5px 5px;
  position: absolute;
  right: 7px;
  top: 14%;
  height: 70%;
  width: 40px;
  background: #77b81a;
  color: white; }

/* Contact */
.contact-block {
  color: #fff;
  background: url('../img/contact-bg.jpg') no-repeat;
  background-size: cover;
  background-position: center center; }

.contact-block a[href^="tel:"] {
  color: white;
  text-decoration: none; }

.contact-text {
  font-size: 1.1em; }

.contact-form-wrap ul {
  padding: 0;
  margin: 0; }

.contact-form-wrap li {
  margin: 0;
  padding: 0;
  list-style-type: none; }

.contact-form-wrap input, 
.contact-form-wrap input[type=text],
.contact-form-wrap input[type=email],
.contact-form-wrap input[type=phone],
.contact-form-wrap textarea {
  outline: none;
  margin-bottom: 20px;
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, .3);
  font-family: "museo-sans", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: .9em;
  color: #fff;
  width: 100%;
  border-radius: 0;
  padding: 20px; }

.contact-form-wrap #cid_3 {
  float: left;
  width: 48% !important;
  margin-right: 2%; }

.contact-form-wrap #cid_4 {
  float: right;
  width: 48% !important;
  margin-left: 2%; }

.contact-form-wrap button[type=submit] {
  font-family: "museo-sans", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 1em;
  color: white;
  cursor: pointer;
  padding: 18px 50px;
  border: 1px solid white;
  transition: background ease .2s;
  background: rgba(57, 191, 21, .25); }

.contact-form-wrap button[type=submit]:hover {
  background: rgba(57, 191, 21, .35); }

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #bbb;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #bbb;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #bbb;
}
:-moz-placeholder { /* Firefox 18- */
  color: #bbb;
}

/* Location */
.feature.map {
  height: 300px; }

.feature.map iframe {
    height: 100%;
    width: 100%;
    border:0;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(99%); /* Chrome 19+ & Safari 6+ */
    -webkit-backface-visibility: hidden;  /* Fix for transition flickering */ }

/* Footer */
footer {
  background: white;
  padding: 40px 0;
  font-size: .85em;
  color: #606060 }

footer nav {
  margin: 0;
  padding: 0; }

.footer-text {
  margin-right: 5px;
  display: inline-block; }

footer .bullet-divider {
  position: relative;
  top: -1px;
  font-size: 10px; }

footer nav {
  margin-left: 5px;
  display: inline-block; }

footer nav a {
  text-decoration: none;
  color: #606060; }

footer .footer-nav-divider {
  margin: 0 5px; }

/* Back to Top Link */
a.top-link {
  display: none;
  position: fixed;
  z-index: 999999;
  bottom: 40px;
  right: 7.5%;
  border: 1px solid rgba(255, 255, 255, .4);
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  padding: 10px 15px 8px;
  font-size: .7em;
  cursor: pointer !important;
  background: rgba(0, 0, 0, .2); }

a.top-link:hover {
  text-decoration: none;
  background: rgba(0, 0, 0, .5); 
  color: white; }

.top-link-text {
  display: block; }

.top-link img {
  margin: 0 auto 6px;
  width: 20px; }


/* ===========================================================
   Legal Page
   =========================================================== */

.legal-page header {
  position: fixed;
  height: 85px;
  top: 0;
  width: 100%;
  overflow: hidden;
  padding: 22px 0;
  background: #353535; }

.legal-page .mobile-nav-wrap {  
  top: 35px; }

.legal-page .logo {
  float: left;
  padding-left: 7.5%;
  left: auto;
  top: auto;
  position: static; }

.legal-page .nav-wrap {
  float: right;
  position: static;
  padding-right: 7.5%; 
  top: auto;
  margin-top: 10px; }

.legal-page main {
  margin-top: 45px;
  background: #ececec; }

.legal-page h1 {
  margin-bottom: 25px; }

.legal-page .col-first {
  padding-right: 2%;
  padding-left: 7.5%; }

.legal-page .col-last {
  padding-right: 7.5%;
  padding-left: 2%; }

/* ===========================================================
   Custom Slider Styles
   =========================================================== */

.hero {
  height: 760px;
  overflow: hidden;
  width: 100%; }

.hero-slide {
  position: relative; }

.fit-img {
    float: left;
    width: 100%; }

.fit-img.compat-object-fit {
  background-size: cover;
  background-position: center center; }

.fit-img.compat-object-fit img {
  /*opacity: 0;*/ }

.fit-img img {
  width: 100%;
  height: 760px;
  object-fit: cover; }

.hero-slide-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  color: white; }

.hero-slide-text {
  position: relative;
  top: 280px;
  margin: 0 auto;
  width: 70%; }

.hero-slide-text h1 {
  margin: 0 0 15px;
  font-size: 3.9em;
  line-height: 1.2;
  font-family: 'Heebo', Helvetica, Arial, sans-serif;
  font-weight: 100; }

.hero-slide-text p {
  font-family: "museo-sans", Helvetica, Arial, sans-serif;
  font-size: 1.3em;
  line-height: 1.6;
  font-weight: 500; }

.hero-slide .img-credit {
  position: absolute;
  bottom: 45px;
  left: 7.5%;
  color: rgba(255, 255, 255, .45);
  font-size: .9em;
  text-align: left; }

.hero-slider {
  overflow-y: hidden !important; }

.hero-slider .prev-arrow,
.hero-slider .next-arrow {
  cursor: pointer;
  opacity: .35;
  position: absolute;
  z-index: 999;
  top: 335px;
  transition: opacity ease .15s; }

.hero-slider .prev-arrow img,
.hero-slider .next-arrow img {
  width: 20px; }

.hero-slider .prev-arrow:hover,
.hero-slider .next-arrow:hover {
  opacity: .8; }

.hero-slider .prev-arrow {
  left: 4%; }

.hero-slider .next-arrow {
  right: 4%; }

/* ===========================================================
   Magnific Popup CSS 
   =========================================================== */

.white-popup {
  border-radius: 3px;
  position: relative;
  background: rgba(255, 255, 255, .9);
  padding: 30px 35px;
  width: auto;
  max-width: 500px;
  margin: 20px auto; }

.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8; }

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden; }

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  box-sizing: border-box; }

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.mfp-align-top .mfp-container:before {
  display: none; }

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045; }

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto; }

.mfp-ajax-cur {
  cursor: progress; }

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out; }

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in; }

.mfp-auto-cursor .mfp-content {
  cursor: auto; }

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.mfp-loading.mfp-figure {
  display: none; }

.mfp-hide {
  display: none !important; }

.mfp-preloader {
  color: #CCC;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044; }
  .mfp-preloader a {
    color: #CCC; }
    .mfp-preloader a:hover {
      color: #FFF; }

.mfp-s-ready .mfp-preloader {
  display: none; }

.mfp-s-error .mfp-content {
  display: none; }

button.mfp-close,
button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  box-shadow: none;
  touch-action: manipulation; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  padding: 0 0 18px 10px;
  color: #FFF;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace; }
  .mfp-close:hover,
  .mfp-close:focus {
    opacity: 1; }
  .mfp-close:active {
    top: 1px; }

.mfp-close-btn-in .mfp-close {
  color: #333; }

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  color: #FFF;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%; }

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #CCC;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap; }

.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: transparent; }
  .mfp-arrow:active {
    margin-top: -54px; }
  .mfp-arrow:hover,
  .mfp-arrow:focus {
    opacity: 1; }
  .mfp-arrow:before,
  .mfp-arrow:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 35px;
    margin-left: 35px;
    border: medium inset transparent; }
  .mfp-arrow:after {
    border-top-width: 13px;
    border-bottom-width: 13px;
    top: 8px; }
  .mfp-arrow:before {
    border-top-width: 21px;
    border-bottom-width: 21px;
    opacity: 0.7; }

.mfp-arrow-left {
  left: 0; }
  .mfp-arrow-left:after {
    border-right: 17px solid #FFF;
    margin-left: 31px; }
  .mfp-arrow-left:before {
    margin-left: 25px;
    border-right: 27px solid #3F3F3F; }

.mfp-arrow-right {
  right: 0; }
  .mfp-arrow-right:after {
    border-left: 17px solid #FFF;
    margin-left: 39px; }
  .mfp-arrow-right:before {
    border-left: 27px solid #3F3F3F; }

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px; }
  .mfp-iframe-holder .mfp-content {
    line-height: 0;
    width: 100%;
    max-width: 900px; }
  .mfp-iframe-holder .mfp-close {
    top: -40px; }

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%; }
  .mfp-iframe-scaler iframe {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #000; }

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto; }

/* The shadow behind the image */
.mfp-figure {
  line-height: 0; }
  .mfp-figure:after {
    content: '';
    position: absolute;
    left: 0;
    top: 40px;
    bottom: 40px;
    display: block;
    right: 0;
    width: auto;
    height: auto;
    z-index: -1;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #444; }
  .mfp-figure small {
    color: #BDBDBD;
    display: block;
    font-size: 12px;
    line-height: 14px; }
  .mfp-figure figure {
    margin: 0; }

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto; }

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #F3F3F3;
  word-wrap: break-word;
  padding-right: 36px; }

.mfp-image-holder .mfp-content {
  max-width: 100%; }

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer; }

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
       * Remove all paddings around the image on small screen
       */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0; }
  .mfp-img-mobile img.mfp-img {
    padding: 0; }
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0; }
  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px; }
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    box-sizing: border-box; }
    .mfp-img-mobile .mfp-bottom-bar:empty {
      padding: 0; }
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px; }
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0; } }

@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    transform: scale(0.75); }
  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0; }
  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%; }
  .mfp-container {
    padding-left: 6px;
    padding-right: 6px; } }

/* ===========================================================
   Slick Slider Defaults
   =========================================================== */

/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('../fonts/slick.eot');
    src: url('../fonts/slick.eot?#iefix') format('embedded-opentype'), url('../fonts/slick.woff') format('woff'), url('../fonts/slick.ttf') format('truetype'), url('../fonts/slick.svg#slick') format('svg');
}
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: -25px;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: '←';
}
[dir='rtl'] .slick-prev:before
{
    content: '→';
}

.slick-next
{
    right: -25px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: '→';
}
[dir='rtl'] .slick-next:before
{
    content: '←';
}

/* Dots */

/*.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}
*/

.slick-dots
{
    position: absolute;
    z-index: 999999;
    bottom: 85px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 16px;
    height: 16px;
    margin: 0 7px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 16px;
    height: 16px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: .45;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 16px;
    height: 16px;

    border: 1px solid white;

    content: '';
    text-align: center;

    opacity: .45;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before,
.slick-dots li button:hover:before
{
    opacity: .45;
    color: black;
    background: #77b81a;
}

/* ===========================================================
   Responsive Styles
   =========================================================== */

/* 1000px Max */ 
@media (max-width: 1040px) {
  .col-25 { 
    width: 33.33333%; }
  .profile-overlay {
    font-size: 90%;
    padding: 18px 25px;
    top: auto;
    overflow: auto;
    opacity: 1; }
  .profile-overlay-text {
    position: static; }
  .placeholder .profile-overlay {
    top: 0;
    background: transparent; 
    position: absolute; }
}

/* 801px Min */ 
@media (min-width: 821px) {
  .show-below-tablet {
    display: none; }
}

/* 800px Max */ 
@media (max-width: 820px) {
  .show-below-tablet {
    display: inline; }
  .hide-below-tablet {
    display: none; }
  .legal-page .nav-wrap,
  .nav-wrap {
    display: none; }
  .mobile-nav-wrap {
    display: block; }
  .assets {
    display: none; }
  .mar-tb-1 {
    margin-bottom: 45px;
    margin-top: 45px; }
  .pad-tb-1 {
    padding-bottom: 45px;
    padding-top: 45px; }
  .legal-page .pad-tb-1 {
    padding-bottom: 80px;
    padding-top: 80px; }
  .legal-page .col-first {
    padding-left: 7.5%;
    padding-right: 7.5%; }
  .col-25 { 
    width: 50%; }
  .col-35, .col-425, .col-50, .col-575, .col-65, .col-100 {
    width: 100%; }
  .about-bg {
    position: static; }
  .about-text {
    margin-left: 0; }
  .mission-bg {
    position: static; }
  .team-bg {
    display: none; }
  .team .bg-dark {
    color: #575757;
    background: white; }
  .team .bg-dark h1 {
    color: #575757; }
  .location {
    display: none; }
  .border-left-1 {
    border-left: none; }
  .border-right-1 {
    border-left: none; }
}

/* 520px Max */ 
@media (max-width: 520px) {
  .col-25 { 
    width: 100%; }
}

/* 480px Max */ 
@media (max-width: 480px) {
  header {
    height: 60px; }
  header .logo img {
    width: 150px; }
  #menuToggle {
    margin-top: -5px; }
  .profile-block {
    pointer-events: none !important;
    cursor: default; }
  .profile-block.placeholder {
    display: none; }
  footer {
    padding: 25px 7.5%;
    text-align: center; }
  footer .bullet-divider {
    display: none; }
  footer nav {
    margin: 2px 0 0;
    display: block; }
  .white-popup, .mfp-bg, .mfp-wrap {
    height: 0 !important;
    display: none; }
  .hero {
    height: 560px;
    overflow: hidden;
    width: 100%; }
  .fit-img img {
    width: 100%;
    height: 560px;
    object-fit: cover; }
  .hero-slide-text {
    position: relative;
    top: 180px;
    margin: 0 auto;
    width: 65%; }
  .hero-slide-text h1 {
    margin: 0 0 15px;
    font-size: 2.7em;
    line-height: 1.2;
    font-family: 'Heebo', Helvetica, Arial, sans-serif;
    font-weight: 100; }
  .hero-slide-text p {
    font-family: "museo-sans", Helvetica, Arial, sans-serif;
    font-size: 1em;
    line-height: 1.6;
    font-weight: 500; }
  .hero-slide .img-credit {
    position: absolute;
    bottom: 30px;
    left: 7.5%;
    color: rgba(255, 255, 255, .45);
    font-size: .9em;
    text-align: left; }
  .hero-slider {
    overflow-y: hidden !important; }
  .hero-slider .prev-arrow,
  .hero-slider .next-arrow {
    cursor: pointer;
    opacity: .35;
    position: absolute;
    z-index: 999;
    top: 235px;
    transition: opacity ease .15s; }
  .contact-form-wrap #cid_3 {
    float: left;
    width: 100% !important;
    margin-right: 0%; }
  .contact-form-wrap #cid_4 {
    float: left;
    width: 100% !important;
    margin-left: 0%; }
    .srJobList .srJobListJobOdd *, 
    .srJobList .srJobListJobEven * {
      position: relative !important;
      padding: 12px 18px 12px 18px !important;
      color: #575757 !important;
      border-collapse: separate !important;
      border-bottom: 1px solid #d7d7d7 !important;
      margin-bottom: 20px !important;
      font-family: 'museo-sans', Helvetica, Arial, sans-serif !important;
      font-size: 15px !important;
      font-weight: 300 !important; }
    .srJobList .srJobListJobOdd *:hover, 
    .srJobList .srJobListJobEven *:hover { 
      color: #fff !important; }
    .srJobList .srJobListJobOdd *:hover:after, 
    .srJobList .srJobListJobEven *:hover:after {
      content: '';
      display: none;
      vertical-align: middle;
      text-align: right; 
      padding: 5px 15px 5px 5px;
      position: absolute;
      right: auto;
      top: auto;
      height: 0%;
      width: 0px;
      background: #77b81a;
      color: white; }

}